/*Variáveis*/
:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  
  --white: #fff;

  --title: #181818;
  --text: #474747;
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

.header_up{
  align-items: center;
  background-color: var(--title);
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
}
.header_up .header_paragraph_top{
  color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}
.header_down{
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  height: 60px;
}

.header_down .header_title_down{
  color: var(--title);
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}
.banner{
  background-image: url('../img/wallpaper.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: left;
  height: 378px;
  width: 100%;
}
.banner_intern{
  align-items: center;
  background: rgba(24,24,24, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.banner_intern_text{
  padding-left: 100px;
  max-width: 1440px;
  width: 100%;
}
.banner_intern_text h2{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 19px;
  letter-spacing: 0em;
}
.banner_intern_text span{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
}
.container{
  display: flex;
  justify-content: center;
}
.container_products{
  padding: 0px 100px;
  max-width: 1440px;
  width: 100%;
}
.container_products h2{
  margin-top: 58px;
  text-align: center;
  font-family:'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
}
.container_products p{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
.products_lists{
  display: grid;
  margin-top: 59px;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container_image{
  background-color: var(--bgCard);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 39px;
  padding: 76px 25px;
}
.container_image img{
  height: 150px;
  width: 250px;
}
.container_image img:hover{
  transform: scale(1.3);
  transition: 1s all ease; 
}
.container_image:not(.container_image:first-child){
  margin-left: 13px;
}
.container_image:nth-child(5){
  margin-left: 0px !important;
}
footer{
  align-items: center;
  background-color: var(--title);
  display: flex;
  justify-content: center;
  height: 60px;

}
footer p{
  color: #F9F9F9;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .products_lists{
    display: grid;
    margin-top: 59px;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr;
  }
  .container_image:nth-child(3), .container_image:nth-child(5),.container_image:nth-child(7){
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 769px) {

  .banner_intern_text h2{
    font-size: 28px;
  
  }
  .banner_intern_text span{
    font-size: 16px;
  }
  .container_products{
    padding: 0px 20px;
  }
  .container_products h2{
    font-size: 28px;
  }
  .container_products p{
    font-size: 16px;
  }
  .container_image{
    margin-bottom: 30px;
    padding: 76px 62px;
  }

  .products_lists{
    display: grid;
    margin-top: 59px;
    margin-bottom: 100px;
    grid-template-columns: 1fr;
  }
  .container_image{
    margin-left: 0px !important;
  }
  .products_lists{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 426px){
  .banner_intern_text{
    padding-left: 20px;
    padding-right: 37px;
  }
  .banner_intern_text h2{
    margin-bottom: 12px;
  }
}